* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color-1: black;
    --main-color-2: #c45353;
    --main-color-3: white;
    --main-color-4: rgb(238, 238, 238);
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Bebas Neue", sans-serif;
}

body {
    margin: 0 9%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
}

p {
    font-family: var(--font-primary);
}

main {
    background-color: var(--main-color-4);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 20px 200px;
}

.logo {
    width: 150px;
}

.lien-navigation {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin: 0 10px;
}

.active {
    text-decoration: underline var(--main-color-2);
}

.accueil-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accueil-1-div-1 {
    width: 100%;
    text-align: start;
    padding-left: 150px;
}

.accueil-1-div-2 {
    width: 100%;
    text-align: center;
}

.accueil-1-titre {
    font-size: 45px;
    font-weight: 500;
}

.accueil-1-text {
    font-size: 35px;
    font-weight: 650;
}

.accueil-1-button {
    color: #fff;
    background-color: black;
    border: none;
    font-size: 30px;
    padding: 15px 80px;
    margin-top: 20px;
    font-family: var(--font-secondary);
}

.logo-2 {
    width: 300px;
}

.accueil-2 {
    padding-top: 200px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.accueil-2-titre {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline var(--main-color-2);
}

.accueil-2-div {
    display: flex;
    flex: row;
    justify-content: center;
    gap: 150px;
}

.accueil-2-titre-2 {
    font-family: var(--font-primary);
    font-size: 23px;
}

.accueil-2-text {
    font-size: 23px;
}

.accueil-3 {
    background-color: var(--main-color-2);
    padding: 80px;
    text-align: center;
}

.accueil-3-titre {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.accueil-3-button {
    color: #fff;
    background-color: black;
    border: none;
    font-size: 30px;
    padding: 15px 80px;
    margin-top: 20px;
    font-family: var(--font-secondary);
    display: inline-block;
}

.accueil-4 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
}

.accueil-4-titre {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline var(--main-color-2);
}

.accueil-4-text {
    margin-top: 15px;
    padding: 0 100px;
    font-size: 24px;
}

.accueil-4-div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    gap: 50px;
    justify-content: center;
    margin-top: 40px;
}

.accueil-4-text-2 {
    margin-top: 15px;
    padding: 0 250px;
    font-size: 24px;
    text-align: center;
}

.contact-1 {
    display: flex;
    flex-direction: row;
}

.contact-1-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 200px;
    width: 35%;
}

.contact-1-div-1 {
    border-left: solid 2px var(--main-color-2);
    padding: 0 5px;
}

.contact-1-h2 {
    font-size: 75px;
    font-weight: 500;
    flex: none;
    width: 100%;
}

.contact-1-div-3 {
    width: 65%;
}

.contact-1-map {
    width: 100%;
}

.menu-1 {
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

.menu-1-h2 {
    font-size: 75px;
    font-weight: 500;
}

.menu-1-p {
    font-size: 30px;
}

.menu-1-span {
    color: var(--main-color-2);
}

.menu-1-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--main-color-3);
    margin: 40px 0;
    padding: 80px 0;
}

.menu-1-logo {
    width: 180px;
}

.menu-1-div-2 {
    text-align: center;
    margin-top: 70px;
}

.menu-1-h3 {
    font-size: 30px;
    font-weight: 500;
    border-bottom: solid 2px var(--main-color-2);
    display: inline-block;
}

.menu-1-p-1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

.menu-1-p-2 {
    font-size: 18px;
    margin-top: 30px;
}

.menu-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 75px;
    background-color: var(--main-color-1);
    padding: 100px;
}